examples/discovery.json
[
    {
        "id": "discovery-example",
        "type": "tab",
        "label": "GoodWe Discovery Example",
        "disabled": false,
        "info": "Example flow for discovering GoodWe inverters on the local network using the dedicated discover node"
    },
    {
        "id": "inject-discover",
        "type": "inject",
        "z": "discovery-example",
        "name": "Trigger Discovery",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "discover-node"
            ]
        ]
    },
    {
        "id": "discover-node",
        "type": "goodwe-discover",
        "z": "discovery-example",
        "name": "Discover Inverters",
        "timeout": 5000,
        "broadcastAddress": "255.255.255.255",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "debug-output",
                "check-devices"
            ]
        ]
    },
    {
        "id": "debug-output",
        "type": "debug",
        "z": "discovery-example",
        "name": "Discovery Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "check-devices",
        "type": "switch",
        "z": "discovery-example",
        "name": "Devices Found?",
        "property": "payload.count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "show-inverters"
            ],
            [
                "show-no-devices"
            ]
        ]
    },
    {
        "id": "show-inverters",
        "type": "function",
        "z": "discovery-example",
        "name": "Format Inverter List",
        "func": "const devices = msg.payload.devices;\nconst count = msg.payload.count;\n\nmsg.payload = {\n    summary: `Found ${count} inverter(s)`,\n    inverters: devices.map(dev => ({\n        host: dev.host,\n        port: dev.port,\n        model: dev.model,\n        serial: dev.serial,\n        family: dev.family\n    }))\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 140,
        "wires": [
            [
                "debug-inverters"
            ]
        ]
    },
    {
        "id": "debug-inverters",
        "type": "debug",
        "z": "discovery-example",
        "name": "Found Inverters",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "show-no-devices",
        "type": "debug",
        "z": "discovery-example",
        "name": "No Devices Found",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment",
        "type": "comment",
        "z": "discovery-example",
        "name": "Discovery Example - Using Dedicated Discover Node",
        "info": "This flow demonstrates how to discover GoodWe inverters on your local network using the dedicated discover node.\n\n**To use:**\n1. Click the inject node to trigger discovery\n2. Wait up to 5 seconds for the discovery to complete\n3. Check the debug output for discovered inverters\n\n**Features:**\n- Dedicated discover node for cleaner flows\n- Configurable timeout (default: 5000ms)\n- Returns devices array with count\n- Status updates during discovery\n- Handles no devices found gracefully\n\n**Output Format:**\n```javascript\n{\n    payload: {\n        devices: [\n            {\n                host: \"192.168.1.100\",\n                port: 8899,\n                model: \"GW5000-EH\",\n                serial: \"ETxxxxxxxx\",\n                family: \"ET\",\n                protocol: \"udp\"\n            }\n        ],\n        count: 1\n    },\n    topic: \"goodwe/discover\"\n}\n```\n\n**Note:** \n- Discovery uses UDP broadcast on port 8899\n- The timeout is configurable in the node properties\n- If no inverters are found, devices will be an empty array\n- Network firewalls may block discovery broadcasts",
        "x": 250,
        "y": 40,
        "wires": []
    }
]
