examples/specialized-nodes-discover.json
[
    {
        "id": "inject1",
        "type": "inject",
        "name": "Discover Inverters",
        "once": true,
        "onceDelay": 0.1,
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 170,
        "y": 120,
        "wires": [["discover1"]]
    },
    {
        "id": "discover1",
        "type": "goodwe-discover",
        "name": "Discover",
        "timeout": 5000,
        "x": 380,
        "y": 120,
        "wires": [["function1", "debug1"]]
    },
    {
        "id": "function1",
        "type": "function",
        "name": "Format Results",
        "func": "if (msg.payload && msg.payload.devices) {\n    const devices = msg.payload.devices;\n    const count = msg.payload.count;\n    \n    msg.payload = {\n        summary: `Found ${count} inverter${count !== 1 ? 's' : ''}`,\n        devices: devices.map(d => ({\n            host: d.host,\n            model: d.model || 'Unknown',\n            serial: d.serial || 'Unknown',\n            family: d.family || 'Unknown'\n        }))\n    };\n}\nreturn msg;",
        "outputs": 1,
        "x": 580,
        "y": 120,
        "wires": [["debug2"]]
    },
    {
        "id": "debug1",
        "type": "debug",
        "name": "Raw Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug2",
        "type": "debug",
        "name": "Formatted Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 120,
        "wires": []
    }
]
